.special-class{
  width: 100vw;
  justify-content: space-between;
}

// .homepagebackgroundimage{
//   // position: absolute;
// //   background-image: linear-gradient(to bottom, rgba(246, 250, 252, 0.09), #0062cc40), url("/assets/sailboat.jpg");
// }

// .targetaudio{
//   height: 100px;
//   width: 100px;
// }

.topofhome {
  height: calc(100vh - 74px);
  position: relative;
}

.home-video{
  top: 0;
  width: 100vw;
 height: 100%;
 position: absolute;
 // display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.centr{
text-align: center;
}

.inner2{
  position: relative;
  padding: 60px;
  border: 2px solid white;
  color: white;
  height: 100%;
  margin-bottom: 10px;
}

.inner2 h1 {
font-size: 170px;
}

.inner2 h2 {
font-size: 90px;
}

.inner2 p {
font-size: 47px;
}

.home_video {
 width: 100vw;
 // height: 100vh;
 // position: absolute;
 // display: flex;
 // justify-content: center;
 // object-fit: cover;
 // top: 0;
 // z-index: -2;
}

// .overlay {
// background-size: cover;
// border: white;
// position: relative;
// height: calc(100vh - 70px);
// width: 100%;
// border: 2px solid #ffffff;
// // margin: 100px auto;
// padding: 30px;
// box-sizing: border-box;
// }


// .inner{
//   padding: 60px;
//   border: 2px solid white;
//   color: white;
//   height: 100%;
//   z-index: 4;
// }

// .inner h1 {
// font-size: 200px;
// }


// .inner h2 {
// font-size: 100px;
// }

// .inner p {
// font-size: 50px;
// position: absolute;
// bottom: 40px;
// left: 40;
// }


// .tint{
// z-index: 2;
// position: absolute;
// top: 0;
// left: 0;
// width: 100%;
// height: 100%;
// background-color: rgba(0,0,0,0.01);

// }

// .colormaster{
//   color: white;
// }

