
// Specific CSS for your home-page
.special-class{
  width: 100vw;
  justify-content: space-between;
}

.cards-selling-points {
  width: 100vw;
}

img {
  width: 60%;

}

.min-hight {
  min-height: calc(100vh - 160px);
  padding-bottom: 20px;
}
