.container {
  padding: 50px 0;
}
.profile {
  display: flex;
  border-bottom: 1px solid black;
  h1 {
    color: black;
  }
}
.profile-info {
  h1 {
    margin: 0;
  }
  ul li {
    margin-top: 8px;
  }
  a:first-of-type {
    color: black;
    text-decoration: none;
    &:hover {
      color: $light-blue;
    }
  }
}
.booking-yachts-container {
  padding: 80px 0;
}
.buttons {
  padding-right: 16px;
}
.profile-bookings a,
.profile-yachts .book-now-container {
  text-decoration: none;
  color: black;
}
