<div class="footer-background">
<div class="footer-bookings">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-snapchat-square"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
</div>
<div class="footer-payment">
  <div class="payment-design">
    <a href="#"><i class="fab fa-cc-visa"></i></a>
    <a href="#"><i class="fab fa-cc-mastercard"></i></a>
    <a href="#"><i class="fab fa-cc-paypal"></i></i></a>
    <a href="#"><i class="fab fa-cc-amex"></i></a>
    <a href="#"><i class="fab fa-cc-apple-pay"></i></a>
    <a href="#"><i class="fab fa-bitcoin"></i></a>
  </div>
  <br>
</div>
</div>

