<div>
  <%= image_tag "index_main.jpg", class: "new" %>
</div>

<div class="container-one">
  <% @yachts.each do |yacht| %>
    <%= link_to yacht_path(yacht), class: "links" do %>
      <div class="card-trip">
          <%= image_tag "yacht1.png"%>
          <div class="card-trip-infos">
            <div>
              <h2><%= yacht.name %></h2>
            </div>
          </div>
      </div>
    <% end %>
  <% end %>
</div>
