.btn-container {
  margin: 0 auto;
}
.btn-general {
  font-family: "Open Sans";
  font-weight: lighter;
  width: 300px;
  letter-spacing: 2px;
  font-size: 24px;
  color: white;
  background-color: $dark-blue;
  padding: 16px 56px;
  border-radius: 4px;
  margin: 30px auto;
  transition: 0.2s;

   a {
    color: white;
   }

   &:hover {
      box-shadow: 6px 6px rgba(0,0,0,0.2);
      text-decoration: none;
   }
}
.btn-small {
  display: inline-block;
  font-weight: lighter;
  text-align: center;
  width: 150px;
  letter-spacing: 2px;
  font-size: 16px;
  color: white;
  background-color: $light-blue;
  padding: 8px 24px;
  border-radius: 4px;
  margin-top: 50px;
  transition: 0.2s;

   &:hover {
      box-shadow: 6px 6px rgba(0,0,0,0.2);
      text-decoration: none;
   }
}
.btn-edit {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  font-size: 8px;
  color: white;
  background-color: $light-blue;
  padding: 8px 24px;
  border-radius: 4px;
  transition: 0.2s;
  margin-bottom: 16px;
   &:hover {
      box-shadow: 6px 6px rgba(0,0,0,0.2);
      text-decoration: none;
   }
}
.btn-delete {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  font-size: 8px;
  color: white;
  background-color: $dark-blue;
  padding: 8px 24px;
  border-radius: 4px;
  transition: 0.2s;

   &:hover {
      box-shadow: 6px 6px rgba(0,0,0,0.2);
      text-decoration: none;
   }
}
.margin-none {
  margin: 0;
}
