.btn-container {
  margin: 0 auto;
}
.btn-general {
  font-family: "Open Sans";
  font-weight: lighter;
  width: 300px;
  letter-spacing: 2px;
  font-size: 24px;
  color: white;
  background-color: $dark-blue;
  padding: 16px 56px;
  border-radius: 4px;
  margin: 30px auto;
  transition: 0.2s;

   a {
    color: white;
   }

   &:hover {
      box-shadow: 6px 6px rgba(0,0,0,0.2);
      text-decoration: none;
   }
}
