.cards-selling-points {
  width: 100vw;
}

.card-img-to-right,
.card-img-to-left {
  display: flex;
  width: 100vw;
  align-items: center;

  .card-img {
    width: 60%;
    height: 100vh;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-description {
    width: 40%;
    padding: 32px;
  }

  h2 {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 60px;
  }

  p {
    font-size: 16px;
  }

}
