.footer-payment{
  color: $light-blue;
  text-align: center;
  font-size: 22px;
  letter-spacing: 5px;
  margin-top: 1px;
  // margin-bottom: 5px;
}

.footer-bookings {
  background: #ffffff;
  text-align: center;
  height: 95px;
}

.payment-design{
  .fab{
    color: $light-blue;
     &:hover {
    color: $gray;
  }
}
}
