.footer {
  background: #fafafa;
  text-align: center;
  height: 120px;
}

.footer-links a {
  letter-spacing: 6px;
  color: $dark-blue;
  font-size: 24px;
  padding: 0px 10px;
  &:hover {
    color: $light-blue;
  }
}

.footer-links i {
  margin-top: 50px;
}

