.footer-background{
  background-color: #fafafa;
}
.footer-payment{
  color: $light-blue;
  text-align: center;
  font-size: 22px;
  letter-spacing: 5px;
  margin-top: 1px;
}

.footer-bookings {
  background: #fafafa;
  text-align: center;
  height: 95px;
}

.payment-design{
  .fab{
    color: $light-blue;
    background-color: #fafafa
  }
}
