.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-size: 18px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-trans {
  background: white;
}

.new{
  width: 100vw;
}


#logo{
  color: #66c6c7;
  font-size: 27px;
  letter-spacing: 20px;
  // position: absolute;
  // left: 50%;
  // margin-left: -50px;  /* 50% of your logo width */
  display: block;
  padding-bottom: 12px;
  padding-right: 150px;
  padding-left: 150px;
}

.navbar-text{
  left: 100%;
}

.navbar-links{
  min-width: 400px;
}

.align-items-center{
  padding-right: 22px;
}

